<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Пример</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	
    <script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU&key=AFDNl08BAAAA_xV-XwQAiuknb6WB65sveNpmmQ3SA55fpQgAAAAAAAAAAAC38zKrpEddRzmduhRGZ-QpLCBhuQ=="
            type="text/javascript"></script>
    <script type="text/javascript">
            window.onload = function () {

            ymaps.ready(function () {

				// Создание экземпляра карты

				var myMap = new ymaps.Map('map', {
					center: [55.76, 37.64],
					zoom: 8
				});

				// Загрузка YMapsML-файла
				ymaps.geoXml.load("http://195.50.17.209:8088/ymapsml_data.xml")
					.then(function (res) {  
							myMap.geoObjects.add(res.geoObjects); // Добавление геообъектов на карту
						}, function (error){   // Вызывается в случае неудачной загрузки YMapsML
							alert('Ошибка: ' + error);         
						});
            });
         } 
    </script>
</head>

<body>
<h2>Демонстрация работы</h2>

<div id="map" style="width:600px;height:600px"></div>
</body>

</html>